.sideBarAside{
    background-color: var(--gray2-color);
    border-radius: 0 24px 0 0;
    padding: 16px;
    min-height: 100%;
    transition: all 350ms ease-in-out;
}
.userDetail{
    padding-top: 28px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--black2-color);
    transition: all 350ms ease-in-out;
}
.sidebarCollapse>button{
    transition: all 350ms ease-in-out;
    display: inline-block;
    background-color: transparent !important;
    border: none !important;
}
.sidebarNav{
    margin-top: 26px;
}
.sidebarNavList{
    gap: 8px;
}
.sidebarNavList>a{
    gap: 8px;
    color: var(--primary-color);
    padding: 12px 16px;
    border-radius: var(--radius4);
}
.sidebarIcon svg{
    width: 16px;
    height: 16px;
    margin-top: -4px;
}
.sidebarNavList button{
    gap: 8px;
    color: var(--primary-color);
    padding: 12px 16px;
    border-radius: var(--radius4);
    text-align: left;
    border: none;
    display: flex;
    display: -webkit-flex;
}
.sidebarNavList button:hover,
.sidebarNavList button:focus{
    background-color: var(--primary2-color);
    color: var(--white-color);
}
.sidebarNavList button:hover svg path,
.sidebarNavList button:focus svg path{
    fill: var(--white-color);
}

@media screen and (max-width: 767px){
    .sideBarAside{
        height: 100vh;
        overflow-y: auto;
        border-radius: 0 24px 24px 0;
    }
}